{% extends "core/layout.html" %}
{% load static %}

{% block title %}Security Policy{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1>Security Policy</h1>
    <p>We take all reasonable steps to keep secure any information which we hold about you. Personal information may be stored both electronically on our computer system, and in hard-copy form. Firewalls, 2048 Bit v3 SSL encryption, passwords, anti-virus software and email filters act to protect all our electronic information.</p>
    <p>We do not store credit card information, we securely submit credit card information to our bank for processing.</p>
  </div>
{% endblock %}