{% extends "core/layout.html" %}
{% load static %}

{% block title %}Scooter Servicing{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/service_styles.css' %}">
<link rel="stylesheet" href="{% static 'core/css/book_include_styles.css' %}">
{% endblock %}

{% block content %}

<div class="container mx-auto px-4 mt-8 mb-12">
    {% include 'service/step1_service_details_include.html' %}
</div>


<div class="service-types-section">
    <h2>Our Services</h2>

    <div class="service-types-container">
        {% for service_type in service_types %}
        <div class="service-type-tile">
            <div class="service-type-icon">
                {% if service_type.image %}
                <img src="{{ service_type.image.url }}" alt="{{ service_type.name }}">
                {% else %}
                <span></span>
                {% endif %}
            </div>
            <div class="service-type-content">
                <h3>{{ service_type.name }}</h3>
                <p>{{ service_type.description }}</p>
                {% if service_type.base_price %}
                <p class="service-type-price">Starting from ${{ service_type.base_price }}</p>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <div class="service-type-tile">
            <div class="service-type-icon">
                <span></span>
            </div>
            <div class="service-type-content">
                <h3>General Servicing</h3>
                <p>We offer comprehensive servicing for all scooter makes and models. Contact us for more information.</p>
            </div>
        </div>
        {% endfor %}
    </div>

    {% include 'service/_service_FAQ_include.html' %}
</div>



{% endblock %}
