{% extends 'core/layout.html' %}

{% block title %}Book Service - Step 3{% endblock %}

{% block content %}
<div>
    <h2>Book Service - Step {{ step }} of {{ total_steps }}</h2>
    <hr>

     {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <h3>Your Contact Information</h3>
        <p>Please provide your contact details.</p>

        {{ form.as_p }}

        <button type="submit">Submit Booking Request</button>
    </form>
</div>
{% endblock %}