{# core/templates/core/layout.html #}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Scootershop{% endblock %}</title>
        {% load static %}
        <link rel="icon" href="{% static 'images/favicon_scooter.png' %}" type="image/png">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <nav>
            <div class="logo">
                <a href="{% url 'core:index' %}">
                    <img src="{% static 'images/logo_scootershop_tight_crop.png' %}" alt="Scooter Shop Logo">
                </a>
            </div>

            <ul>
                {% if settings.enable_sales_new or user.is_staff %}
                    <li>
                        <a class="nav-item" href="{% url 'inventory:new' %}"
                           {% if not settings.enable_sales_new and user.is_staff %}
                               style="color: #08E5D1;" {# Bright turquoise color #}
                           {% endif %}
                        >
                            New Bikes
                        </a>
                    </li>
                {% endif %}

                {% if settings.enable_sales_used or user.is_staff %}
                    <li>
                        <a class="nav-item" href="{% url 'inventory:used' %}"
                           {% if not settings.enable_sales_used and user.is_staff %}
                               style="color: #08E5D1;" {# Bright turquoise color #}
                           {% endif %}
                        >
                            Used Bikes
                        </a>
                    </li>
                {% endif %}

                {% if settings.enable_service_booking or user.is_staff %}
                    <li>
                        <a class="nav-item" href="{% url 'service:service' %}"
                           {% if not settings.enable_service_booking and user.is_staff %}
                               style="color: #08E5D1;" {# Bright turquoise color #}
                           {% endif %}
                        >
                            Service Booking
                        </a>
                    </li>
                {% endif %}

                {% if settings.enable_hire or user.is_staff %}
                    <li>
                        <a class="nav-item" href="{% url 'hire:step2_choose_bike' %}"
                           {% if not settings.enable_hire and user.is_staff %}
                               style="color: #08E5D1;"
                           {% endif %}
                        >
                            Hire Booking
                        </a>
                    </a>
                    </li>
                {% endif %}

                {% if settings.enable_contact_page or settings.enable_about_page or user.is_staff %}
                    <li>
                        <a href="{% url 'core:contact' %}"
                         {% if not settings.enable_contact_page and not settings.enable_about_page and user.is_staff %}
                             style="color: #08E5D1;" {# Bright turquoise color #}
                         {% endif %}
                        >
                            {% if not settings.enable_contact_page and settings.enable_about_page %}
                                About us
                            {% else %}
                                Contact Us
                            {% endif %}
                        </a>
                    </li>
                {% endif %}

                {# Login/Logout Toggle #}
                {% if settings.enable_user_accounts or user.is_staff %}
                    <li>
                        {% if user.is_authenticated %}
                            {# If user is authenticated, show Logout link #}
                            <a class="nav-item" href="{% url 'users:logout' %}">
                                Logout
                            </a>
                        {% else %}
                            {# If user is not authenticated, show Login/Register link #}
                            <a class="nav-item" href="{% url 'users:login' %}"
                                {% if not settings.enable_user_accounts and user.is_staff %}
                                style="color: #08E5D1;"
                                {% endif %}
                            >
                                Login/Register
                            </a>
                        {% endif %}
                    </li>
                {% endif %}
                {# End Login/Logout Toggle #}

            </ul>

            <div class="nav-social-icons">
                <a href="https://www.facebook.com/ScooterShopAustralia/" target="_blank" rel="noopener">
                    <img src="{% static 'images/svgs/facebook.svg' %}" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/scootershop_australia/" target="_blank" rel="noopener">
                    <img src="{% static 'images/svgs/instagram.svg' %}" alt="Instagram">
                </a>
                 {# Apply visibility check to the contact SVG link #}
                {% if settings.enable_contact_page or settings.enable_about_page or user.is_staff %}
                    <a href="{% url 'core:contact' %}">
                        <img src="{% static 'images/svgs/mail.svg' %}" alt="Contact Us">
                    </a>
                {% endif %}
            </div>
        </nav>

        <div>
            {% block content %}{% endblock %}
        </div>

        {% block map %}{% endblock %}

        <footer class="site-footer">
            <div class="footer-container">
                <div class="footer-section">
                    <h3>Quick Links</h3>
                    <ul>
                        {% if settings.enable_sales_new or user.is_staff %}
                            <li>
                                <a href="{% url 'inventory:new' %}"
                                   {% if not settings.enable_sales_new and user.is_staff %}
                                        style="color: #08E5D1;"
                                   {% endif %}
                                >
                                    New Bikes
                                </a>
                            </li>
                        {% endif %}

                        {% if settings.enable_sales_used or user.is_staff %}
                            <li>
                                <a href="{% url 'inventory:used' %}"
                                   {% if not settings.enable_sales_used and user.is_staff %}
                                        style="color: #08E5D1;"
                                   {% endif %}
                                >
                                    Used Bikes
                                </a>
                            </li>
                        {% endif %}

                        {% if settings.enable_hire or user.is_staff %}
                            <li>
                                <a href="{% url 'hire:step2_choose_bike' %}"
                                   {% if not settings.enable_hire and user.is_staff %}
                                        style="color: #08E5D1;" {# Bright turquoise color #}
                                   {% endif %}
                                >
                                    Hire Booking
                                </a>
                            </li>
                        {% endif %}

                        {# NEW: Link to Hire Refunds #}
                        <li>
                            <a href="{% url 'payments:user_refund_request' %}">
                                Refunds
                            </a>
                        </li>

                        {% if settings.enable_contact_page or settings.enable_about_page or user.is_staff %}
                            <li>
                                <a href="{% url 'core:contact' %}"
                                {% if not settings.enable_contact_page and not settings.enable_about_page and user.is_staff %}
                                    style="color: #08E5D1;" {# Bright turquoise color #}
                                {% endif %}
                                >
                                    {% if not settings.enable_contact_page and settings.enable_about_page %}
                                        About us
                                    {% else %}
                                        Contact Us
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}

                        {% if user.is_authenticated and user.is_staff %}
                        <li><a href="{% url 'dashboard:dashboard_index' %}">Dashboard</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="footer-section">
                    <h3>Resources</h3>
                    <ul>
                        {% if settings.enable_terms_page or user.is_staff %}
                            <li>
                                <a href="{% url 'core:terms' %}"
                                   {% if not settings.enable_terms_page and user.is_staff %}
                                        style="color: #08E5D1;" {# Bright turquoise color #}
                                   {% endif %}
                                >
                                    Terms of Use
                                </a>
                            </li>
                        {% endif %}

                        {% if settings.enable_privacy_policy_page or user.is_staff %}
                            <li>
                                <a href="{% url 'core:privacy' %}"
                                   {% if not settings.enable_privacy_policy_page and user.is_staff %}
                                        style="color: #08E5D1;" {# Bright turquoise color #}
                                   {% endif %}
                                >
                                    Privacy Policy
                                </a>
                            </li>
                        {% endif %}

                        {% if settings.enable_returns_page or user.is_staff %}
                            <li>
                                <a href="{% url 'core:returns' %}"
                                    {% if not settings.enable_returns_page and user.is_staff %}
                                        style="color: #08E5D1;" {# Bright turquoise color #}
                                    {% endif %}
                                >
                                    Returns Policy
                                </a>
                            </li>
                        {% endif %}

                         {% if settings.enable_security_page or user.is_staff %}
                            <li>
                                <a href="{% url 'core:security' %}"
                                   {% if not settings.enable_security_page and user.is_staff %}
                                        style="color: #08E5D1;" {# Bright turquoise color #}
                                   {% endif %}
                                >
                                    Security Policy
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

                <div class="footer-section">
                    <h3>Contact Info</h3>
                    <ul>
                        {% if settings %}
                            {% if settings.phone_number %}
                                <li><strong>Phone:</strong> {{ settings.phone_number }}</li>
                            {% endif %}
                            {% if settings.email_address %}
                                <li><strong>Email:</strong> {{ settings.email_address }}</li>
                            {% endif %}
                            {% if settings.storefront_address %}
                                <li><strong>Address:</strong> {{ settings.storefront_address|linebreaksbr }}</li>
                            {% endif %}
                            <li><strong>Hours:</strong></li>
                            {% if settings.opening_hours_monday %}
                                <li>Monday: {{ settings.opening_hours_monday }}</li>
                            {% endif %}
                            {% if settings.opening_hours_tuesday %}
                                <li>Tuesday: {{ settings.opening_hours_tuesday }}</li>
                            {% endif %}
                            {% if settings.opening_hours_wednesday %}
                                <li>Wednesday: {{ settings.opening_hours_wednesday }}</li>
                            {% endif %}
                            {% if settings.opening_hours_thursday %}
                                <li>Thursday: {{ settings.opening_hours_thursday }}</li>
                            {% endif %}
                            {% if settings.opening_hours_friday %}
                                <li>Friday: {{ settings.opening_hours_friday }}</li>
                            {% endif %}
                            {% if settings.opening_hours_saturday %}
                                <li>Saturday: {{ settings.opening_hours_saturday }}</li>
                            {% endif %}
                            {% if settings.opening_hours_sunday %}
                                <li>Sunday: {{ settings.opening_hours_sunday }}</li>
                            {% endif %}
                        {% else %}
                            <li><strong>Phone:</strong> (08) 9433 4613</li>
                            <li><strong>Email:</strong> admin@scootershop.com.au</li>
                            <li><strong>Address:</strong> Unit 2/95 Queen Victoria St, Fremantle WA, Australia</li>
                            <li><strong>Hours:</strong></li>
                            <li>Monday - Friday: 10:30am to 5:00pm</li>
                            <li>Saturday: 10:30am to 1:00pm (By Appointment only)</li>
                            <li>Sunday: Closed</li>
                            <li>Public Holidays: Closed</li>
                        {% endif %}
                    </ul>
                </div>

                <div class="footer-section">
                    <h3>Follow Us</h3>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/ScooterShopAustralia/" target="_blank" rel="noopener">
                            <img src="{% static 'images/svgs/facebook.svg' %}" alt="Facebook">
                        </a>
                        <a href="https://www.instagram.com/scootershop_australia/" target="_blank" rel="noopener">
                            <img src="{% static 'images/svgs/instagram.svg' %}" alt="Instagram">
                        </a>
                        {# Apply visibility check to the contact SVG link #}
                        {% if settings.enable_contact_page or settings.enable_about_page or user.is_staff %}
                            <a href="{% url 'core:contact' %}">
                                <img src="{% static 'images/svgs/mail.svg' %}" alt="Contact Us">
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <p>Copyright © {% now "Y" %} Scootershop Australia</p>
                <p>ABN 46157594161 | MD 27368 | MRB 7961</p>
            </div>
        </footer>

        {% block extra_js %}{% endblock %}
    </body>
</html>
