{% extends "core/layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/motorcycle_list_styles.css' %}">
<link rel="stylesheet" href="{% static 'css/hire_styles.css' %}">
{% endblock %}

{% block content %}
    <div class="hire-section">
        <div class="hire-tiles-container">

            {% if hire_start_date and hire_end_date %}
            <div class="card card-border card-hover-effect availability-info">
                <div class="card-body"> {# Added card-body here #}
                    <h3>Available Motorcycles</h3>
                    <p>Showing motorcycles available for hire from <strong>{{ hire_start_date|date:"D, d M Y" }}</strong> to <strong>{{ hire_end_date|date:"D, d M Y" }}</strong> ({{ hire_days }} day{% if hire_days > 1 %}s{% endif %}).</p>

                    <div class="alert alert-info">
                        <p>Please note that motorcycle availability is subject to confirmation. Use the filters to narrow down your search by date range and other preferences.</p>
                    </div>
                </div> 
            </div>
            {% endif %}
        </div>
    </div>

    {% with current_url_name='hire' page_title='Motorcycles Available for Hire' %}
        {% include "inventory/motorcycle_list_include.html" %}
    {% endwith %}
{% endblock %}