{% extends "core/layout.html" %}
{% load static %}

{% block title %}Security Policy{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-lg rounded-lg p-6 md:p-8 max-w-4xl mx-auto">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Security Policy</h1>
        <div class="prose max-w-none text-gray-800">
            <p>We take all reasonable steps to keep secure any information which we hold about you. Personal information may be stored both electronically on our computer system, and in hard-copy form. Firewalls, 2048 Bit v3 SSL encryption, passwords, anti-virus software and email filters act to protect all our electronic information.</p>
            <p>We do not store credit card information, we securely submit credit card information to our bank for processing.</p>
        </div>
    </div>
</div>
{% endblock %}
