<div class="border border-gray-200 rounded-lg p-4 mb-4 max-w-sm mx-2">
    <div class="flex items-center mb-2">
        {% if review.profile_photo_url %}
            <img src="{{ review.profile_photo_url }}" alt="{{ review.author_name }}" class="w-10 h-10 rounded-full mr-3">
        {% else %}
            <div class="w-10 h-10 rounded-full bg-gray-300 flex items-center justify-center mr-3">
                <span class="text-white text-lg">{{ review.author_name|first }}</span>
            </div>
        {% endif %}
        <div>
            <p class="font-semibold">{{ review.author_name }}</p>
            <div class="flex items-center">
                {% for i in "12345" %}
                    {% if i|add:0 <= review.rating %}
                        <svg class="w-4 h-4 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg>
                    {% else %}
                        <svg class="w-4 h-4 text-gray-300 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <p class="text-gray-600">{{ review.text|truncatewords:30 }}</p>
</div>