{% extends "email_layout.html" %}

{% block title %}Refund Request Processed Successfully{% endblock %}

{% block header_title %}Refund Request Processed{% endblock %}

{% block content %}
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; margin-bottom: 24px;">Dear Administrator,</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; margin-bottom: 24px;">This is to confirm that the refund request for booking <strong>{% if refund_request.service_booking %}{{ refund_request.service_booking.service_booking_reference }}{% elif refund_request.sales_booking %}{{ refund_request.sales_booking.sales_booking_reference }}{% else %}(missing){% endif %}</strong> has been successfully processed.</p>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="margin-top: 20px; margin-bottom: 20px;">
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 540px; border-radius: 8px; background-color: #374151;">
                <tr>
                    <td style="padding: 20px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                            <!-- Processing Details -->
                            <tr>
                                <td colspan="2" style="padding-bottom: 10px; font-family: Arial, sans-serif; font-size: 18px; color: #F9FAFB; font-weight: bold; border-bottom: 1px solid #4B5563;">Processing Details</td>
                            </tr>
                            <tr>
                                <td width="40%" style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Request ID:</td>
                                <td width="60%" style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.pk | default:'(missing)' }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Refunded Amount:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.amount_to_refund|floatformat:2 }} {{ refund_request.payment.currency }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Stripe Refund ID:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.stripe_refund_id | default:'(missing)' }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Processed By:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.processed_by.get_full_name|default:refund_request.processed_by.username }}</td>
                            </tr>
                             <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Processed At:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.processed_at|date:"D, d M Y H:i" }}</td>
                            </tr>
                            
                            <!-- Booking Details -->
                            <tr>
                                <td colspan="2" style="padding-top: 20px; padding-bottom: 10px; font-family: Arial, sans-serif; font-size: 18px; color: #F9FAFB; font-weight: bold; border-bottom: 1px solid #4B5563;">Booking Details</td>
                            </tr>
                            {% if refund_request.service_booking %}
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Motorcycle:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.service_booking.customer_motorcycle.name | default:'(missing)' }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Original Paid:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.payment.amount|floatformat:2 }} {{ refund_request.payment.currency }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Booking Status:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.service_booking.get_status_display | default:'(missing)' }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Payment Status:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.service_booking.get_payment_status_display | default:'(missing)' }}</td>
                            </tr>
                            {% elif refund_request.sales_booking %}
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Motorcycle:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.sales_booking.motorcycle.name | default:'(missing)' }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Original Paid:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.payment.amount|floatformat:2 }} {{ refund_request.payment.currency }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Booking Status:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.sales_booking.get_booking_status_display | default:'(missing)' }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Payment Status:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.sales_booking.get_payment_status_display | default:'(missing)' }}</td>
                            </tr>
                            {% endif %}
                            
                            <!-- Request Details -->
                            <tr>
                                <td colspan="2" style="padding-top: 20px; padding-bottom: 10px; font-family: Arial, sans-serif; font-size: 18px; color: #F9FAFB; font-weight: bold; border-bottom: 1px solid #4B5563;">Request Details</td>
                            </tr>
                             <tr>
                                <td valign="top" style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Reason Provided:</td>
                                <td valign="top" style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.reason | default:'(none)' }}</td>
                            </tr>
                             <tr>
                                <td valign="top" style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Calculation:</td>
                                <td valign="top" style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.refund_calculation_details.details | default:'(missing)' }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; margin-top: 24px;">Thank you,<br>System</p>
{% endblock %}
