{% extends "email_layout.html" %}
{% load static %}

{% block title %}ADMIN: New General Enquiry Received{% endblock %}

{% block header_title %}New General Enquiry{% endblock %}

{% block content %}
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; margin-bottom: 24px;">Dear {{ enquiry.name | default:'User' }},</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; margin-bottom: 24px;">Thank you for your enquiry. We have received your message and will get back to you shortly. Here are the details of your submission:</p>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="margin-top: 20px; margin-bottom: 20px;">
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 540px; border-radius: 8px; background-color: #374151;">
                <tr>
                    <td style="padding: 20px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                            <tr>
                                <td colspan="2" style="padding-bottom: 10px; font-family: Arial, sans-serif; font-size: 18px; color: #F9FAFB; font-weight: bold; border-bottom: 1px solid #4B5563;">Enquiry Details</td>
                            </tr>
                            <tr>
                                <td width="40%" style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Name:</td>
                                <td width="60%" style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ enquiry.name | default:'(missing)' }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Email:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ enquiry.email | default:'(missing)' }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Phone Number:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ enquiry.phone_number | default:'(missing)' }}</td>
                            </tr>
                            {% if enquiry.motorcycle %}
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Motorcycle:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ enquiry.motorcycle }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Submitted At:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ enquiry.created_at|date:"D, M d, Y H:i" | default:'(missing)' }}</td>
                            </tr>
                             <tr>
                                <td colspan="2" style="padding-top: 20px; padding-bottom: 10px; font-family: Arial, sans-serif; font-size: 18px; color: #F9FAFB; font-weight: bold; border-bottom: 1px solid #4B5563;">Message</td>
                            </tr>
                             <tr>
                                <td colspan="2" valign="top" style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB; white-space: pre-wrap;">{{ enquiry.message | default:'(no message)'}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}
