{% extends 'email_layout.html' %}
{% load static %}

{% block title %}Your Refund Request Has Been Approved!{% endblock %}

{% block preheader %}
Good news! Your refund for booking {{ booking_reference }} has been approved and processed.
{% endblock %}

{% block header_title %}
Refund Request Approved
{% endblock %}

{% block content %}
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; margin-bottom: 24px;">Hi {{ customer_name }},</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; margin-bottom: 24px;">We are pleased to inform you that your refund request for booking <strong>{{ booking_reference | default:'(booking_reference missing)' }}</strong> has been approved and processed.</p>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="margin-top: 20px; margin-bottom: 20px;">
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 540px; border-radius: 8px; background-color: #374151;">
                <tr>
                    <td style="padding: 20px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                            <tr>
                                <td width="40%" style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Refund Amount:</td>
                                <td width="60%" style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ refund_request.amount_to_refund|floatformat:2 | default:'(amount missing)' }} {{ refund_request.payment.currency | default:'(currency missing)' }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 10px 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; font-weight: bold;">Booking Reference:</td>
                                <td style="padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #F9FAFB;">{{ booking_reference | default:'(booking_reference missing)' }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; margin-top: 24px;">The refunded amount should appear in your account within 5-10 business days, depending on your bank's processing times.</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; margin-top: 24px;">
    If you have any questions please feel free to contact us.
</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB; margin-top: 24px;">Thank you for your patience.</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #D1D5DB;">Sincerely,<br><strong>The Allbikes and Vespa Warehouse Team</strong></p>
{% endblock %}
