<script type="application/ld+json">
    {{ json_ld_breadcrumbs|safe }}
</script>

<nav aria-label="breadcrumb">
    <ol class="flex items-center justify-end space-x-2 text-sm text-gray-200 breadcrumb-list">
        {% for breadcrumb in breadcrumbs %}
            <li class="flex items-center">
                {% if breadcrumb.url %}
                    <a href="{{ breadcrumb.url }}" class="hover:text-white">{{ breadcrumb.name }}</a>
                {% else %}
                    <span class="text-white font-semibold">{{ breadcrumb.name }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>